.mdb-dataTable {
  color: white;
}

.mdb-dataTable-head {
  color: white;
}

.mdb-datatable {
  color: white;
  // background-color: rgb(255, 255, 255, 0.5);

}
.mdb-dataTables_paginate {
  display: none;
}

.table-wrapper-scroll-y {
  max-height: 70vh !important;
}