.clip {
  padding: 0;
  /* works best on mobile */
  object-fit: fill;
  max-height: 60vh;
  max-width: calc(60vh*1.3333);
  height: calc(100vw * .75);
  width: 100vw;
}

.socket.loader {
  max-height: 60vh;
  height: calc(100vw * .75);
  width: 100vw;
}

.hidden { 
  display: none !important;
}

.inactive-warning {
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
}