// @import url('./impact.ttf');

@font-face {
  font-family: "Melee";
  src: url("/fonts/impact.ttf");
}

@font-face {
  font-family: "Now-Loading";
  src: url("/fonts/hyper.ttf");
}

.logo {       
  background-image: linear-gradient(180deg, black 50%, #805dad 80%, white 100%);
  /* filter: drop-shadow(0 20px 30px #28d8ff33); */
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-stroke: .02rem white;
  /* font-size: 2.5rem; */
  // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: Melee;
  -webkit-transform: scale(1.5, .85);
  -moz-transform: scale(1.5, .85);
  -o-transform: scale(1.5, .85);
  transform: scale(1.5, .85);

  &.brand {
    -webkit-text-stroke: .02rem rgb(255, 255, 255, 0.5);
  }
}

.nav-m {
  margin-top: 48px !important;
}

.spoiler {
  color: black;
  background-color: black;
  user-select: none;
}

.spoiler:hover {
  color: white;
}

.navbar-brand {
  display: flex;
  position: fixed;
  -webkit-transform: scale(1.5, .85);
  -moz-transform: scale(1.5, .85);
  -o-transform: scale(1.5, .85);
  transform: scale(1.5, .85);
  &.logo {
    background-image: linear-gradient(180deg, black 50%, #805dad 70%, white 100%);
    font-size: 1.8rem;
  }
}

.white-text {
  color: white;
}

.red-text {
  color: red;
}

.secondary-text {
  color: #bbbb;
}

.dark-red-text {
  color: #b72f2f !important;
}

.full-page {
  height: 80vh;
}

/* remove legend icon */
.no-icon .recharts-legend-wrapper .recharts-surface {
  display: none !important;
}

.choice-data {
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.hand {
  height: 1.5rem;
}

.melee-num {
  height: 1.5rem;
}

.melee-percent {
  height: 1rem;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 


@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 

/* .hint .fadeout {
  opacity: 0;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
} */




.now-loading {
  font-family: Now-Loading;
  transform: scale(1, .5);
  top: calc(min(50vw, 50vh) - min(2vw, 2vh));
  left: calc(max(0px, calc((100vw - 90vh) / 2)) + min(35vh, 35vw));
  position: absolute;
  font-size: min(10vw, 6vh);
  color: #c2b87f;
  z-index: 1000;
}

.now-loading-bar {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  top: min(51vw, 51vh);
  left: calc(max(0px, calc((100vw - 86vh) / 2)) + 2px);
  max-width: calc(86vh - 2px);
  width: calc(100% - 4px);
  height: 46px;
  z-index: 999;
  display: flex;
  justify-content: center;
  margin: auto;
}