.white-text {
  color: white;
}

.secondary-text {
  color: #bbbb;
}

.dark-red-text {
  color: #b72f2f !important;
}

.full-page {
  height: 80vh;
}

/* remove legend icon */
.no-icon .recharts-legend-wrapper .recharts-surface {
  display: none !important;
}

.choice-data {
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.hand {
  height: 1.5rem;
}

.melee-num {
  height: 1.5rem;
}

.melee-percent {
  height: 1rem;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 


@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 

/* .hint .fadeout {
  opacity: 0;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
} */