.dark-modal {
  .modal-header {
    color: white;
  }

  .ripple.btn-close {
    background-color: white;
  }
  
  .modal-dialog {
    background-color: #2d313a;
  }

  .modal-content {
    background-color: #2d313a;
  }

  .modal-header {
    border: none;
  }

  .modal-footer {
    border: none;
  }

  .forgot-pass {
    color: #54C8FF;
  }
}